<div class="listings-bg-img">
  <h1>this is the index page</h1>


  <% @listings.each do |listing| %>
  <%= link_to listing_path(listing) do %>
  <div class="card">
    <li>Tool type: <%= listing.category %>, Location: <%= listing.user.location %></li>
    <% if policy(listing).update? %>
    <%= link_to 'Edit', edit_listing_path(listing) %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
