<!-- banner component -->

<div class="banner" style="background-image: url('https://images.pexels.com/photos/175039/pexels-photo-175039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Build Your Project</h1>
    <div>
      <%= form_tag listings_path, class: "form-flex", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control form-text-center",
        placeholder: "Find a tool"
        %>
        <%= submit_tag "Search", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
