<!-- banner component -->

<div class="banner" style="background-image: url('https://images.pexels.com/photos/175039/pexels-photo-175039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Find a Tool</h1>
    <p>PUT FORM HERE (views/shared/banner) </p>
    <%= link_to "Start Now", listings_path, class: "btn btn-primary btn-lg"  %>
  </div>
</div>
