<div class="navbar-main">
  <!-- Logo -->
  <a href="/" class="navbar-main-brand">
    BoxBuddy
  </a>

  <!-- Right Navigation -->
  <div class="navbar-tool-right hidden-xs hidden-sm">

    <a href="" class="navbar-tool-item navbar-tool-link" id="signup">Signup</a>
    <a href="" class="navbar-tool-item navbar-tool-link">Login</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-tool-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-tool-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-tool-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">In your Box</a></li>
          <li><a href="#">Your Display</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tool-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tool-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
