<div class="navbar-main">
  <!-- Logo -->
  <a href="/" class="navbar-main-brand fas fa-toolbox">ToolBox
  </a>


  <!-- Right Navigation -->
  <div class="navbar-tool-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-tool-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar dropdown-toggle" id="navbar-tool-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-tool-dropdown-menu">
          <li><%= link_to "Profile", user_path(current_user) %></li>

          <!-- to do, add link -->
          <li><a href="#">Messages</a></li>

          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <a href="/users/sign_up" class="navbar-tool-item navbar-tool-link" id="signup">Signup</a>
    <a href="/users/login" class="navbar-tool-item navbar-tool-link">Login</a>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tool-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tool-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
