<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260');">
  <div class="show-content">
    <div class="row">
      <div class="col-xs-4">
        <% if @listing.photo == nil %>
        <img src="" alt="Tool photo">
        <% else %>
        <img src="<%= cl_image_tag @listing.photo %>">
        <% end %>

      </div>
      <div class="col-xs-4">
        <h3><%= @listing.category %> </h3>
        <div style="overflow-y: scroll; height:100px;">
          <p> <%= @listing.description %> </p>
          <p> LINK TO CITY DISTRICT </p>
        </div>
        <p> 250€ </p>
        <a class="reserve-button">Reserve</a>
      </div>
    </div>
  </div>
</div>

