.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #28282B;
  transition: all 0.3s ease;
  height: 45px;
  background-opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: #FAA916;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: orange;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
