.show_page{
  display:flex;
  align-items:center;
  justify-content:center;
  background-size: 100vh;
}

.show-content {
  max-height: 100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 400px;
  width: 600px;
  border-radius: 3%;
  border:2px solid rgba(255,255,255, 0.9);
  background-color: #002139;
  opacity: 0.9;
  position:relative;
  box-shadow: 5px 5px 5px rgba(0, 33, 57, 0.8);
}


  // .picture-box {
  //   height: 150px;
  //   width: 150px;
  //   border:solid;
  //   border-color: black;
  //   border-width: 5px;


  // }
img{
  width:100%;
  max-width:700px;
  border-radius: 3px;
}

.show-content{
  position:relative;
}

.show-image{
  position:absolute;
  margin-right: 80px;
  margin-top:80px;
}

.show-description{
  position:absolute
}

#showcard-content{
  background-color: #262147;
  color:white;
  border-radius: 4px;
}

 .book-button:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
  opacity: 1;
}

.book-button, .edit-button {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #2E9C7C;
  transition: background 0.3s ease;
}

.row{
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

.book-form, .edit-form{
  max-width: 300px;
  padding: 10px;
  border-radius: 3%;
  border:2px solid rgba(255,255,255, 0.9);
  background-color: #D74E09;
  opacity:0.9;
  color:white;
  box-shadow: 5px 5px 5px rgba(0, 33, 57, 0.8);
}

#submit-button{
  color:black;
}

