.show_page{
  display:flex;
  align-items:center;
  justify-content:center;
  background-size: 100vh;
}

.show-content {
  max-height: 100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 400px;
  width: 600px;
  border-radius: 3%;
  border:2px solid rgba(255,255,255, 0.9);
  background-color: #002139;
  opacity: 0.9;
  position:relative;
  box-shadow: 5px 5px 5px rgba(0, 33, 57, 0.8);
}

img{
  width:100%;
  max-width:700px;
  border-radius: 3px;
}

.show-content{
  position:relative;
}

.show-image{
  position:absolute;
  margin-right: 80px;
  margin-top:80px;
}

.show-description{
  position:absolute
}

#showcard-content{
  background-color: #262147;
  color:white;
  border-radius: 4px;
}

.book-button {
  margin-left: 10px;
}
.edit-button {
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

.booking-form-parent {
  display: flex;
  box-shadow: 1px 1px 1px rgba(0, 33, 57, 0.7);

}

.book-form{
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(152,152,152, 0.9);
  color: black;
}


.edit-form{

  padding: 10px;
  border-radius: 3px;
  background-color: rgba(152,152,152, 0.9);
  color: black;
}

.booking-form-child-one{
  flex-grow: 1;
  width: 50%;
}

.booking-form-child-two{
  flex-grow: 1;
  width: 50%;
  text-align: center;
}

.flex-btn {
  display: flex;
  justify-content: space-around;
}

#submit-button{
  color:black;
}

.btn-custom-width {
  width: 100px;
}

