.listings-show-bg-img {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.listing-show-main-container {
  background-color: rgba(255, 255, 255, .9);
  padding: 30px 0;
  margin-bottom: 40px;
  margin-top: 120px !important;
  position: relative;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 33, 57, 0.8);
  opacity: 0.9;
  width: 70%;
  min-height: 50vh;
  height: auto;
  margin-top: 10%;
  display: flex;
}

.listing-show-pic {
  opacity: 1 !important;
  background: cover;
}

.listing-show-form {
  flex-grow: 1;
  width: 35%;
  display: flex;
  min-height: 75%;
  height: auto;
  opacity: 1 !important;
  justify-content: center;
  align-items: center;
  img{
    height: 70vh;
  opacity: 1 !important;
  }
}

.listing-show-info {
  text-align: center;
  flex-grow: 1;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(255,255,255, 0.9);
  h3 {
    max-width: 650px;
  }
}

.edit-button:hover{
  text-decoration: none;
}
.show-page-photo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.buttons-show-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
