.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 2px white;
  height: 55px;
  padding-bottom: 5px;
}
.tab {
}

.tabs a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  transition: all 0.3s;
}

.tab.active {
  color: #FAA916;
  opacity: 0.9;
}
.tab:hover {
  color: #FAA916;
  opacity: 0.5;
}

.tab-first {
  border-radius: 3px 0px 0px 0px;
}

.tab-last {
  border-radius: 0px 3px 0px 0px;
}
