.container-devise-form {
  width: 30%;
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  border-radius: 10px;
  padding: 30px;
}

.devise-form-bg-img {
  background-image: url(https://images.pexels.com/photos/175039/pexels-photo-175039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  min-height: 100vh;
  height: auto;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
